header {
    width: 100%;
    height: 50px;
    margin-top: 0px;
    text-align: left;
    background-color: #efffff;
    position: fixed;
    box-shadow: 20px 0px 20px grey;
    clear: both;
}

p.bio{
	text-align:justify;
}

body {
    margin: auto;
    padding: 0;
    background-color: #f0f8ff;
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, Georgia, serif;
    font-size:16.0px;
}

a img {
    border: none;
}

hr {
	border: none;
	border-top: 1.0px solid #ddd;
	margin: 5px 0;
}

p {
	margin: 0.4em 0em
  }

p.news{
	color:#BA2F39
}

div.content {
    padding-left: 50px;
    padding-right: 50px;
    background-color: #fefefe;
    max-width: 1000px;
    vertical-align: middle;
    margin-left: auto;
    margin-right: auto;
    clear: both;
    overflow: auto;
}

.publication-table {
    width: 100%;
}

img.publication-image {
    width: 160px;
    height: 100px;
    align: center;
}

td.image-column {
    width: 220px;
    height: 100px;
	padding-left: 30px;
}

td.description-column {
    width: 780;
    height: 100px;
    text-align: left;
}

td.general-item-left {
    font-style: italic;
    font-size:50px;
    width: 150px;
}

td.general-item-right {
    width: 780;
    text-align: left;
}

span.link {
    padding-right: 10px;
}

img.img_teaser {
    width: 100%;
    max-width: 950px;
    height: auto;
}


div.project_headline,div.project_video {
    text-align: center;
/*    max-width: 100%;
    vertical-align: middle;
    margin-left: auto;
    margin-right: auto;*/
}

div.img {
    display: inline-block;
    zoom: 1;
    display *: inline;
    vertical-align: middle;
    margin-left: auto;
    margin-right: auto;
    max-width: 950px;
    text-align: justify:
}

div.stress {
    color: #AADD33
}

div.top_block {
    padding-top: 50px;
}

div.bottom_block {
    padding-bottom: 30px;
}

div.paper_title {
    font-weight: 500;
    font-size:16px;
    padding-bottom: 0px;
}

a.author {
    font-size:14px;
}

div.paper_venue {
    font-size:14px;
}

div.paper_materials{
	font-size:14px;

}

div.talk_title {
    font-weight: bold;
    font-size:24px;
    padding-bottom: 10px;
}

a:link {
    color: #0066ff;
	text-decoration: none;
}

a:visited {
    color: #0066ff;
}

a:hover {
  color: #4c81c9;
  text-decoration: underline;
}

/* a.author:link { */
    /* color: #000000 */
/* } */

/* a.author:visited { */
    /* color: #000000; */
/* } */

div.tab {
    font-size:30.0px;
    max-width: 1000px;
    vertical-align: middle;
    margin-left: auto;
    margin-right: auto;
}

div.tab-name, div.tab-link {
    display:inline-block;
    text-decoration:none;
}

div.tab-name {
    float:left;
    padding-left:30px;
    font-size:150%;
	
    padding-top:5px;
}

div.tab-link {
    float:right;
    padding-right:20px;
    padding-top:10px;
	font-size:24px;
}


a sup{
  display:inline-block;
  line-height:1.1em;
  text-decoration:none;
}

h3{
    font-size: 30px;
    margin-bottom: 5px;
}